<!DOCTYPE html>
<html lang="en-us">

<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/naringu.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/form.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
  <link rel="alternate" type="application/rss+xml" title="Mozilla RSS" href="feed.category.xml">
  
  
	<script type='text/javascript' src='/jquery-1.7.2.min.js'></script>
	<script type='text/javascript'>
		//显隐按钮
		function showReposBtn(){
			var clientHeight = $(window).height();
			var scrollTop = $(document).scrollTop();
			var maxScroll = $(document).height() - clientHeight;
			//滚动距离超过可视一屏的距离时显示返回顶部按钮
			if( scrollTop > clientHeight ){
				$('#retopbtn').show();
			}else{
				$('#retopbtn').hide();
			}
			//滚动距离到达最底部时隐藏返回底部按钮
			if( scrollTop >= maxScroll ){
				$('#rebtmbtn').hide();
			}else{
				$('#rebtmbtn').show();
			}
		}
		
		window.onload = function(){
			//获取文档对象
			$body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $("html") : $("body")) : $("html,body");
			//显示按钮
			showReposBtn();
		}
		
		window.onscroll = function(){
			//滚动时调整按钮显隐
			showReposBtn();
		}
		
		//返回顶部
		function returnTop(){
			$body.animate({scrollTop: 0},400);
		}
		
		//返回底部
		function returnBottom(){
			$body.animate({scrollTop: $(document).height()},400);
		}
	</script>
	<style type='text/css'>
		#retopbtn{
			background-color: #0CDADA;
			border: none;
			position:fixed;
			bottom:10px;
			right:10px;
		}
		#rebtmbtn{
			position:fixed;
			top:10px;
			right:10px;
		}
	</style>
	
	
  </head>


  {% include analytics.html %}

<body class="theme-6dd">

    {% include sidebar.html %}

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
		<div class="page">
		  <h1 class="page-title">{{ page.title }}</h1>
		  {{ content }}
		</div>
      </div>
    </div>
	
	<button id='retopbtn' onclick='returnTop()'>顶部</button>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
	
{% include footer.html %}
